<h1>Show</h1>
<p> Name: <%= @user.name %></p><br>
<p> Username: <%= @user.username %></p><br>
<p> Favourite Number: <%= @user.favourite_number %></p><br>
<p><%= link_to "back to main page", root_path%></p>


